service: lambda
app: lamda-app-test
provider:
  name: aws
  runtime: nodejs12.x
  region: ap-northeast-1
  stage: dev

package:
    individually: true
    include:
        - src/**/*.js
    exclude:
      - .git/**
      - package.json
      - package-lock.json
      - node_modules/**
functions:
  app:
    handler: src/models/lambda/handler.app
    description: My function
    memorySize: 1024
    timeout: 60
    environment:
      variable2: value2
    events:
      - http:
          path: /
          method: get
    tags:
      foo: bar
    layers:
      - { Ref: NodemodulesLambdaLayer }
resources:
  Resources:
    Bucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: lambda-layers-deploy-2020-11-23-haruto

layers:
  nodemodules:
    path: node_modules
    name: node_modules-layerName
    description: Description of what the lambda layer does
